{% extends 'layouts/layout.html.twig' %}

{% block title %}Mosquée Connect{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row justify-content-between">
            <div class="col-5 col-md-6"><h1>
                <a class="navbar-brand text-dark" href="{{ path('welcome') }}"><i class="fas fa-globe-americas text-success"></i>
                    Mosquée Connect</a></h1>
            </div>
            <div class="col-7 col-md-6 mt-1">
                <nav class="navbar navbar-expand-lg justify-content-end">
                    <div class="col-1">
                        <button class="navbar-toggler light" type="button" data-toggle="collapse"
                                data-target="#navbarNavAltMarkup"
                                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">

                            <i class="mt-1 fas fa-bars"></i>

                        </button>
                    </div>
                        <div class="collapse navbar-collapse justify-content-end align-self-end" id="navbarNavAltMarkup">
                            <div class="navbar-nav">
                                <a class="nav-item nav-link text-dark ml-3" href="#">Nos mosquées</a>
                                <a class="nav-item nav-link text-dark ml-3" href="#">Nos actions</a>
                                <a class="nav-item nav-link text-dark ml-3" href="#">Nous connaître</a>
                                <a class="nav-item nav-link text-dark ml-3" href="#">Se connecter</a>
                            </div>
                        </div>
                </nav>
            </div>
        </div>
    </div>
{% endblock %}
